*{
    box-sizing: border-box;
  }

  /* LAYOUT */

  body{
    background-image: url('img/sitting.jpg');
    background-position: center;
    background-repeat: cover;
    background-size:  135%;
    background-attachment: fixed;
    background-color: rgb(218, 170, 161);
    background-position-x: 210px;
    image-rendering: optimizeQuality;

    display: flex;
    justify-content: center;
    
  }
 
  #borderAround{
    background-color: rgb(197, 168, 141,.9); 
    border: 4px solid white;
    margin: 30px;
    width: 75%;
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom:15px;
    position: relative;
    z-index: 1; 
  
    padding: 10px;
    block-size: fit-content;
  }
  #waxedOff{
    display: flex;
    justify-content: center;
  
    margin-left: auto;
    margin-right: auto; 
    margin-top: -255px;
    margin-bottom: -160px;
    
    position: relative;
    z-index: 5;
    
  }
  h3{
    text-align: center;
   
  }
  
  .headers{
    font-size: 2em;
    text-align: center;
    position: relative;
    z-index: 5;
  }
  #forHours{
    font-size: 1.2em;
    
  }
  .secondHeader{
    font-weight: 10;   
    font-size: 1.23em;
    text-decoration: underline;
    font-weight: 500;
  }
  .paragraph{
    margin: 15px;
    font-weight: lighter;
  }
  .postWaxNos{
    font-weight: lighter;
  }
  .bold{
    font-style: normal;
    /* text-decoration: underline;  */
    font-weight: 900;
  }
  #homeLink{
      color: black;
  }
  #copyright{
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items:flex-end ;
    position: static;
    margin-bottom: -30px;
  }
  /* @media screen and (max-width: 668px){
    #borderAround{
      width: 22rem;
    }
    #waxedOff{
      display: block;
      align-content: center;
      margin-left: auto;
      margin-right: auto; 
      margin-top: -190px;
      width: 100%;
      
      position: absolute;
      z-index: 5;
    }
    body{
      background-size: 300%;
      background-position-x: 300px;
    }
    .headers{
      font-size: 2.5em;
      margin-top: 40px;
      margin-bottom: -5px;
    }
  } */
  

  /* @media (max-width: 900px){
    #borderAround{
      width: 23rem;
    }
    #waxedOff{
      margin-top: -200px;
    }
    body{
      background-size: 300%;
      background-position-x: 990px;
    }
  } */
  
  /* @media (max-width: 1030px){
    #borderAround{
      width: 40rem;
    }
    #waxedOff{
      margin-top: -200px;
    }
    body{
      background-size: 300%;
      background-position-x: 115rem;
    }
  } */
  /* @media (max-width: 1370px){
    #borderAround{
      width: 50rem;
    }
    #waxedOff{
      margin-top: -200px;
    }
    body{
      background-size: 300%;
      background-position-x: 345rem;
    }
  } */

/* @media (max-width: 1600px) 
{ 
  #waxedOff{
    margin-top: -250px;
  }
  body{
    background-size: 150%;
    background-position-x: 99rem;
  }

} */

@media screen and (max-width: 668px){
  #borderAround{
    width: 23rem;
  }
  #waxedOff{
    display: block;
    align-content: center;
    
    margin-left: auto;
    margin-right: auto; 
    margin-top: -195px;
    width: 100%;
    
    
    position: absolute;
    z-index: 5;
    
  }
  /* .headers{
    margin-top: 50px;
  }
  body{
    background-size: 300%;
  } */
  body{
    background-size: 300%;
    background-position-x: 300px;
  }
  .headers{
    font-size: 2.5em;
    margin-top: 40px;
    margin-bottom: -5px;
  }
}
@media (min-width: 669px) and (max-width: 769px){
  #borderAround{
    width: 100rem;
  }
  .headers{
    font-size: 3rem;
    margin-top: -2rem;
    margin-bottom: -.8rem;
  }
  .secondHeader{
    font-size:1.7rem;
  }
  .paragraph{
    font-size: 1.5rem;
  }
  #copyright{
    font-size: 1.5rem;
  }
}
@media (min-width: 1023px){
 #borderAround{
  width: 60rem;
  margin-top: 7%;
  height: 100rem;

  block-size: fit-content;
 }

body {
  background-position: -20rem;
  background-repeat: no-repeat;
  background-size:  200%;
  background-attachment: fixed;
}
#waxedOff{
  height: 50rem;
  margin-top: -25rem;
}
.headers{
  font-size: 4rem;
  margin-top: -15rem;
}
.paragraph{
  font-weight: lighter;
  font-size: 1.9rem;
}
.secondHeader{
  font-size: 3rem;
}
#copyright{
  font-size: 2rem;
  margin-top: 1rem;
}
}

  
  