/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html{
  font-size: 62.5%;
}

body {
  background-image: url('img/studio.jpg');
  background-position: top right;
  background-repeat: repeat;
  background-size:  120%;
  background-attachment: fixed;
  background-color: rgb(218,170,161);
  
  
}
#borderAround{
  background-color: rgb(197, 168, 141,.9); 
  border: .3rem solid white;
  margin: 15rem;
  width: 37rem;
  height: 800px;
  display: block;
  align-content: center;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom:1.5rem;
  margin-top: 20%;
  position: relative;
  z-index: 5; 
  
  padding: 1rem;
  block-size: fit-content;

}

#socialMediaBorder{
  background-color: rgb(197, 168, 141,.8); 
  border: .3rem solid white;
  
  width: 37rem;
  height: fit-content;

  display: block;
  align-content: center;
  margin-left: auto;
  margin-right: auto; 
 
  position: relative;
  z-index: 5; 
}
#paolasPicture{
  border: .3rem solid white;
  border-radius: 50%;

  height: 17rem;
  width: 17.6rem;

  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom:15px;
  margin-top: -20%;

  position: relative;
  z-index: 5;
}

#waxSpecialist{
  text-decoration: 5px underline dotted black;
  text-underline-position: under;
  display: flex;
  justify-content: center;

  margin-left: auto;
  margin-right: auto; 
  margin-bottom:25px;
  font-size: 2.5rem;

  position: relative;
  z-index: 5;
  background: none;
  
}
.buttonTopRow {
  text-decoration: none;
  position: relative;
  color: black;
  font-size: 2rem;
  font-family: "montserrat";
  text-align: center;
  
  border-color: transparent;
  border-radius: 25px;
  background-color: rgb(245, 245, 245, .4);
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  height: 50px;
  width: 85%;
  white-space: nowrap;

  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom:15px;
  margin-top:1.3em ;
  padding: 5px;
  font-stretch: semi-expanded;
  

  position: relative;
  z-index: 5;

  /* width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  margin-bottom: 1em; */
} 

.buttonTopRow a{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-decoration: none;
  color: black;
  display: block;

}

button span::before{
  background:rgb(241, 198, 196);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.5s ease;
  text-decoration: none;
  border-radius: 15px;
}

button span::before{
  width: 0%;
  height: 100%;
  text-decoration: none;
}

button span:hover::before{
  width: 200%;
  height: 400%;
  text-decoration: none;
}
 
#address{
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto; 
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  color: black;

  position: relative;
  z-index: 5;

  background: none;
}

.fa {
  text-decoration: none;
  align-content: center;
  color: black;
  border: none;

  margin-left: auto;
  margin-right: auto; 

  position: relative;
  z-index: 5;
 
}

.fa:hover {
  opacity: 0.5;
  
}
#socialMediaButtons{
/* font-size: 30px; */
  
  background: rgb(241, 198, 196, 0 );

  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
  z-index: 5;

}
#facebookIcon{
  border: 4px solid black;
  width: 50px;
  height: fit-content;
  padding: 5px 5px 2px 5px;
  text-align: center; 
  border-radius: 15%;
  font-size: 40px;
  margin-left: 5px;
}
#instagram{
  font-size: 60px;
  margin-right: 5px;
}
#tiktokIcon{
  color: black;
  font-size: 50px;
  align-content: center;
  position: relative;
  z-index: 5;
  border: 4px solid black;
  border-radius: 15%;

  height: fit-content;
}
#tiktokIcon:hover {
  opacity: 0.5;
}

#copyright{
  font-size: 1.5rem;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items:flex-end ;
  position: static;
  margin-bottom: -10px;
}

/*********
*********************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 668px){
  #borderAround, #socialMediaBorder{
    width: 35rem;
  }
}
/* @media (min-width: 819px) and (max-width: 1181px){
  #borderAround, #socialMediaBorder{
    width: 60rem;
   }
  .buttonTopRow{
    width:50%
  }
}  */
@media (min-width: 1023px){
    #socialMediaBorder{
    height: 18rem;
    width: 90rem;
   }
   #borderAround{
    width: 90rem;
    margin-top: 40%;
    height: 100rem;

    block-size: fit-content;
   }
   #paolasPicture{
     height: 40rem;
     width: 40rem;
   }
   #waxSpecialist{
     font-size: 5rem;
   }
  .buttonTopRow{
    width:60%;
    height: 10rem;
    font-size: 4rem;
    align-content: center;
  }
  #address{
    font-size: 5rem;
  }
  body {
    background-image: url('img/studio.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size:  260%;
    background-attachment: fixed;
    
  }
  #socialMediaButtons{
    /* font-size: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
      
  }
  #tiktokIcon{
    
    font-size: 90px;
    align-content: center;
    position: relative;
    z-index: 5;
    border: 4px solid black;
    border-radius: 15%;
  
    height: fit-content;
  }
  #copyright{
    font-size: 3rem;
    margin-top: 1rem;
  }
}