/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  background-image: url('img/studio.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:  170%;
  background-attachment: fixed;
  background-color: rgb(218,170,161);
  
  
}
#borderAround{
  background-color: rgb(197, 168, 141,.9); 
  border: 4px solid white;
  margin: 125px;
  width: 60%;
  height: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom:15px;
  position: relative;
  z-index: 5; 

  padding: 10px;
  block-size: fit-content;

}


/* #logo{
  margin: -165px;
  padding-bottom: 15px;
  width:500px;
  
  display: block;
  justify-content: center;
  

  margin-left: auto;
  margin-right: auto; 
  
  position: relative;
  z-index: 5;
  
 
} */

#paolasPicture{
  border: 3px solid white;
  border-radius: 50%;

  height: 40%;
  width: 40%;

  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom:15px;
  margin-top: -20%;

  position: relative;
  z-index: 5;
}

/* #waxedOff{
  display: flex;
  justify-content: center;

  margin-left: auto;
  margin-right: auto; 
  margin-top: 250px;
  margin-bottom:15px;
  
  color: black;
  font-size: 40px;

  position: relative;
  z-index: 5;
} */

/* h1{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: 0;
  
  position: relative;
  z-index: 5;
} */

#waxSpecialist{
  text-decoration: 5px underline dotted black;
  text-underline-position: under;
  display: flex;
  justify-content: center;

  margin-left: auto;
  margin-right: auto; 
  margin-bottom:25px;
  font-size: 25px;

  position: relative;
  z-index: 5;
  background: none;
  
}
.buttonTopRow {
  text-decoration: none;
  position: relative;
  color: black;
  font-size: 20px;
  font-family: "montserrat";
  text-align: center;

  border-color: transparent;
  border-radius: 25px;
  background-color: rgb(245, 245, 245, .4);
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  height: 50px;
  width: 70%;
  

  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom:15px;
  margin-top:1.3em ;
  padding: 5px;
  font-stretch: semi-expanded;
  

  position: relative;
  z-index: 5;

  /* width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  margin-bottom: 1em; */
} 

.buttonTopRow a{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-decoration: none;
  color: black;

}
/* #bookButton{
  border: 3px solid rgb(197, 168, 141,.1);
} */

#bookButton a::before{
  background:rgb(241, 198, 196);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.5s ease;
  text-decoration: none;
  border-radius: 15px;
}

#bookButton a::before{
  width: 0%;
  height: 100%;
  text-decoration: none;
}

#bookButton a:hover::before{
  width: 200%;
  height: 400%;
  text-decoration: none;
}
 
#address{
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto; 
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  color: black;

  position: relative;
  z-index: 5;

  background: none;
}

.fa {
  text-decoration: none;
  align-content: center;
  color: black;
  border: none;

  margin-left: auto;
  margin-right: auto; 

  position: relative;
  z-index: 5;
 
}

.fa:hover {
  opacity: 0.5;
  
}
#socialMediaButtons{
/* font-size: 30px; */
  
  background: rgb(241, 198, 196, 0 );

  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
  z-index: 5;

}
#facebookIcon{
  border: 4px solid black;
  width: 50px;
  height: fit-content;
  padding: 5px 5px 2px 5px;
  text-align: center; 
  border-radius: 15%;
  font-size: 40px;
  margin-left: 5px;
}
#instagram{
  font-size: 60px;
  margin-right: 5px;
}
#tiktokIcon{
  color: black;
  font-size: 50px;
  align-content: center;
  position: relative;
  z-index: 5;
  border: 4px solid black;
  border-radius: 15%;

  height: fit-content;
}
#tiktokIcon:hover {
  opacity: 0.5;
}
#socialMediaBorder{
  background-color: rgb(197, 168, 141,.8); 
  border: 4px solid white;
  /* margin: 10px; */
  width: 60%;
  height: fit-content;

  display: block;
  align-content: center;
  margin-left: auto;
  margin-right: auto; 
 


  position: relative;
  z-index: 5; 
}
#copyright{
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items:flex-end ;
  position: static;
  margin-bottom: -10px;
}

/*********
*********************************
/* ADDITIONAL STYLES
/*******************************************/

/* These let you view website in landscape and portrait mode...? */
@viewport{
  zoom: 1;
  width:extend-to-zoom;
}
@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}

/* ******* switch px to % ***************/
